* {
    margin: 0;
    padding: 0;
}

.clear {
    clear:both;
    width: 0;
    height: 0;
}

img {
    display: inline-block;
    vertical-align: top;
}

header#header {}

/* 띄어쓰기: 하위항목 */
#header .content-area {
    width: 1130px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

#header .special {
    border-bottom: 1px solid #e4e8eb;
}

#header .group {
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.12);
}

#header nav.navigation {
    float: left;
}

#header .weather {
    float: right;
}

#header .group .content-area::after {
    content: '';
    display: block;
    clear:both;
    width: 0;
    height: 0;
}

#contents {
    width: 1130px;
    min-height: calc(100vh - 714px);
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px;
}

#contents #main.main {
    float: left;
}

#contents #aside.aside {
    float: right;
}

#contents::after {
    content: '';
    display: block;
    clear:both;
    width: 0;
    height: 0;
}

#footer {
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}

#footer .gf-content {
    width: 1130px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px;
}
