* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: wrap; /* default: no-wrap */
    flex-direction: row; /* 뒤에서부터 채워짐 */
    /*flex-direction: column-reverse;*/
    background-color: #10ce72;
    /*justify-content: center; !* 아이템 개수에 맞춰서 가운데 정렬 *!*/
    /*justify-content: flex-end;*/
    /*justify-content: flex-start;*/
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    justify-content: space-evenly;

    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    align-items: stretch;

    gap: 20px;
}

.item {
    width: 150px;
    height: 100vh;
    /*height: 150px;*/
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 00;
    line-height: 150px;
    /*flex-shrink: 1;*/
    flex: 1;
    /*order: 1;*/
}

#item-6 {
    align-self: stretch; /* item의 높이값을 없앴을 때 해당 아이템들을 늘림 */

}

#item-8 {
    flex-basis: 400px;
    /*flex: 2;*/
    /*flex-shrink: 3;*/
    background-color: red;

    order: 0;
    align-self: center;
}

.container-2 {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
}

.container-2 div {
    height: 100px;
    width: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

/*.item-1 + .item-2 {*/
/*    margin-left: 50px;*/
/*}*/

/*.item-1 {*/
/*    margin-right: auto;*/
/*}*/

/*.item-3 {*/
/*    margin-left: auto;*/
/*}*/

.item-2 {
    margin-right: auto;
    margin-left: auto;
}
