@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&family=Noto+Serif+KR:wght@300;400;600&family=Sofia+Sans:ital,wght@0,100;1,100&display=swap');
@import url("https://use.typekit.net/zzj4qmz.css");

root {}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* 가로 스크롤이 있을 때 스크롤 제거하고 가로폭 맞춤, 가로 스크롤 막아줌 */
    font-family: futura-pt, sans-serif;
    /* 100vh, 100vw : 현재 브라우저 사이즈 그대로 */
    min-width: 400vw;
    min-height: 100vh; /* 스크롤 *2 사이즈 */
}

header.header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: cornflowerblue;
    color: white;
}

header.header::before { /* header가 끝나는 지점에 빨간색 라인 표시 */
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 2px solid red;
}

main.main {
    display: block;
    position: relative;
    width: 200vw;
    height: 100vh;
    padding-top: 60px;
    background-color: darkgrey;
    box-sizing: border-box; /* margin, padding 등으로 늘어나도 포함해서 셋팅 하도록 */
    /*box-sizing: content-box;*/ /* default */
}

main.main section.section {
    position: relative;
    height: calc(100vh - 60px);
}

main.main section.section .box {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 500px;
    background-color: seagreen;
    color: white;
}

.section-1 {
    background-color: tomato;
}

.section-2 {
    background-color: yellowgreen;
    /*opacity: 1;*/ /* 기본값 = 1 */
}

.section-3 ul {
    background-color: aqua;
}

/*.section-3 > ul {*/
/*    background-color: blue;*/
/*}*/

/*!* span 다음 ul 로 바로 이어지는 경우에만 적용 *!*/
/*.section-3 span + ul {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*.section-3 > ul > li + li {*/
/*    background-color: red;*/
/*}*/

/*p + p {*/
/*    background-color: red;*/
/*}*/

/* p 다음에 오는 p 들에게 모두 적용 */
p ~ p {
    background-color: red;
}

/* :child */
/* :first-child */
/* :last-child */
ul li:first-child {
    /*background-color: blueviolet;*/
}

ul li:last-child {
    background-color: indianred;
}

/*.section-3 > ul > li:first-child {*/
/*    background-color: blueviolet;*/
/*}*/

/*.section-3 > ul > li:nth-child(6) { !* 1부터 출발 *!*/
/*    background-color: blueviolet;*/
/*}*/

.section-3 > ul > li:nth-child(2n) { /* n 앞의 배수 */
    background-color: blueviolet;
}

.section-3 > ul > li:nth-child(2n + 1) { /* 1, 3, 5 */
    background-color: blueviolet;
}

input.input {
    padding: 4px 10px;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid grey;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
}

input.input:focus {

}

input.input:focus-visible {
    padding: 4px 20px;
    outline: none;
    border-color: grey;
    font-size: 40px;
    line-height: 60px;
}

input:read-only {
    background-color: black;
    color: white;
}

input:disabled {
    opacity: 0.5;
    background-color: grey;
}

input.checkbox {
    width: 20px;
    height: 20px;
}

input.checkbox + span {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}

input.checkbox:checked {
    background-color: red;
}

input.checkbox:checked + span {
    color: palevioletred;
}

main.main section.section:not(.section-3) {
    background-color: white;
    color: white;
}


main.main section.section:not(p) { /* 안에 요소가 p 태그를 포함하지 않는 것 */
    background-color: skyblue;
    color: white;
}

/* section 시작 다음 */
section.section::before {
    /*content: '1234';*/
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}

/* section 끝 전 */
section.section::after {
    /*content: '1234';*/
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}
