/* 기본 폰트 사이즈 16px */
/* 16 - 100% = 1em */
/* 16 - 50% = 0.5em */
/* 16 - 150% = 1.5em */
/* 32 - 200% = 2em */
body {
    /*background-color: tomato;*/
    background-color: rgb(255, 99, 71);
    background-color: #003423;
    background-color: #ccc;
    margin: 0;
    color: white;
    color: rgba(255, 255, 255, 0.5);
    color: hsl(0, 0%, 100%);
    color: hsla(255, 0%, 0%, 0.5);
    font-size: 1em;
    line-height: 1.5em;
}

.box {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5em;

    /* rem : root에 있는 폰트를 기준으로 셋팅*/
    font-size: 0.75rem;
    line-height: 1.5rem;
}

div.box {
    /*width: 50%;*/
    /*width: 30vw; !* viewport width *!*/
    /*height: 400px;*/
}

p.box {
    width: 500px;
    height: 60vh;

}

.image {
    width: 500px;
    height: 500px;
    /*background-image: url("/assets_oha/img/malik-unsplash.jpg");*/
    background-image: url(/_css/img/malik-unsplash.jpg);
    /*background-repeat: no-repeat;*/

    background-position: 0 0;
    background-position: 100px -100px;
    background-position: 50% 50%;

    background-position: center center;

    background-size: auto;
    background-size: cover;
    background-size: contain;
}

.border {
    width: 400px;
    height: 200px;
    background-color: violet;
    /*border-width: 10px;*/
    border-style: solid;
    border-color: #ffffff;

    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;

    border-top-color: white;
    border-right-color: orange;
    border-bottom-color: darkslateblue;
    border-left-color: darkseagreen;

    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dashed;

    border: 2px solid #ffffff;
    border: none; /* border: 0 */

    border-radius: 100px;
    border-radius: 50%;
    border-radius: 200px;
    border-radius: 200px;

    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 50px;
}

.box-model {
    /*min-width: 800px;*/
    /*min-height: 800px;*/

    width: 100%;
    min-width: 400px;
    max-width: 800px;
    height: 50vh;
    min-height: 200px;
    max-height: 300px;
    /*width: 300px;*/
    /*height: 300px;*/
    /*margin: 20px;*/
    /*padding: 40px;*/
    background-color: darkorange;
    border: 10px solid transparent;
    color: #ffffff;
}
